node_modules

# Buidler files
cache
artifacts
# Truffle
build

# Test codegen
codegen

# Openzeppelin
.openzeppelin/.session
.openzeppelin/unknown-*.json
!.openzeppelin/unknown-97.json
!.openzeppelin/unknown-321.json
!.openzeppelin/unknown-80001.json

# Secrets
secretsManager.js

# rescript
.merlin
.bsb.lock
lib

coverage.json

coverage-truffle
coverage-all
coverage-unit
coverage-integration

abis
ast

# No need to keep javascript files in contract tests
contract-docs
